<%- include('../partials/header.ejs')%>
    <main>
        <div id="container">
            <div id="container-img-box">
                <img src="<%= connection.imgURL%>" alt="event image">
            </div>
            <div id="container-text">
                <h2><%= connection.title%></h2>
                <p><b>Hosted By <%= connection.host%></b></p>
                <p><%= connection.date%><br> <%= connection.time_format%>-<%= connection.endtime_format%></p>
                <p>at <%= connection.location%></p>
            </div>
            <div>
                <form>
                    <button type = "submit" formmethod = "GET" formaction = "/connections/<%= connection.id%>/edit">Edit</button>
                    <br><br>
                    <button type = "submit" formmethod = "POST" formaction = "/connections/<%= connection.id%>?_method=DELETE">Delete</button>
                </form>
            </div>
            <div id="container-details">
                <h2>Details</h2>
                <p><%= connection.details%></p>
            </div>
        </div>
    </main>

<%- include('../partials/footer.ejs')%>
